fastapi
uvicorn
sqlalchemy
python-multipart
mysql-connector-python
spacy
langchain
langchain-openai
langchain-communit
langchain-text-splitters
langchain-core
sentence_transformers
openai
requests
pydantic
python-dotenv
rdflib
streamlit
streamlit-toggle-switch
sqlparse
nltk
unidecode
translate
langdetect
faiss-cpu
pdfplumber
